@import "tailwindcss";


body,
a {
  cursor: none;
}

.custom-cursor {
  cursor: none;
  width: 15px;
  height: 15px;
  background: #3054f1;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition:
    width 0.1s ease-in-out,
    height 0.1s ease-in-out;
}

body:has(a:hover) .custom-cursor,
body:has(button:hover) .custom-cursor {
  cursor: none;
  width: 25px;
  height: 25px;
  background: #3053f130;
  border: 2px solid #3053f1;
  transition:
    width 0.1s ease-in-out,
    height 0.1s ease-in-out;
}

body:has(#viz-map:hover) .custom-cursor {
  opacity: 0;
}

/* === MOBILE === */
@utility mobile-header-1 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@utility mobile-subheader-1 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
}

@utility mobile-subheader-2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@utility mobile-subheader-3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@utility mobile-body-1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@utility mobile-body-2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

/* === DESKTOP === */
@utility desktop-header-1 {
  font-size: 96px;
  line-height: 102px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@utility desktop-subheader-1 {
  font-size: 64px;
  line-height: 68px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
}

@utility desktop-subheader-2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@utility desktop-subheader-3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
}

@utility desktop-body-1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@utility desktop-body-2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

@theme {
  --color-t-primary: #060d29;
  --color-t-secondary: #f3f8fc;
  --color-t-tertiary: #3054f1;
  --color-t-details: #324ab3;
  --color-background: #ffffff;
  --color-cta-primary: #3054f1;
  --color-black: #060d29;
  --color-white: #f3f8fc;
  --color-grey: #b6c1f1;
}
